/* __ Colors __*/
$body: #f5f5f5;
$primary: #001550;
$secondary: #222222;
$tertiary: #fff;

/* __ Devices __*/
$desktop: 1200px;
$tabletland: 1024px;
$tabletport: 720px;
$mobileport: 480px;
$mobile: 100px;

/* __ Fonts __ */
$defaultFont: Roboto, sans-serif, open-sans-;
